.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.n2{
    color: coral;
}
li{
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-family: cursive;
    font-size: large;
}

a{
    text-decoration: none;
    color: coral;
}

.main{
    background: url(mainpic1.jpeg);
    background-size: cover;
    
}

.appointment
{
    border: solid 2px;
    background-color: white;
    font-family: cursive;
    height: 350px;
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.midpart
{
    display: flex;
    justify-content: space-between;
}

.quotes{
    font-size: xx-large;
    color: white;
    font-family: cursive;
}

button
{
    background-color: darkcyan;
    margin-top: 20px;
    height: 40px;
    width: 70px;
    font-family: cursive;
    border-radius: 10px;
}

.logo_image{
    display: flex;
}

.name{
    color: cadetblue;
}


